.titulo{
text-align: center;
color:blueviolet
}

.img{
    height: 400px;
    width: 400px;
}

.containe{
    display: flex;
    justify-content: center;
}

.font.t{
    font-size: medium;
    color: "white";
    
}
.faixa{
    color:rgb(15, 94, 68)
}